**/.vscode
**/.idea
**/.occ
**/.eslintcache
**/.stylelintcache
**/build
**/dist
!**/__test__/**/dist
**/node_modules
**/test-results*
**/*.log
**/*.pid
**/*.orig
**/*.project
**/*.settings
**/testGen
**/coverage
**/accelerator-templates/templates
.yarncache
*.DS_Store
**/src/libs
